button {
  display: inline-block;
  position: relative;
  font-family: $default_font;
  border: 1px solid transparent;
  background-color: rgba($default_white, 1);
  color: rgba($default_black, 1);
  touch-action: manipulation;
  user-select: none;
  cursor: pointer;
}